Repository provenance-io/provenance, pull requests merged in 2021-04, with the labels that each got.

#230 Parse public key PubKey type incorrectly initialized
  CHANGELOG.md
  x/metadata/legacy/v039/crypto.go
  x/metadata/legacy/v040/migrate_test.go
  x/metadata/types/p8e.go
  x/metadata/types/p8e_test.go
Labels: bug, metadata

#243 Add marker cli SupplyFixed and AllowGovernanceControl flags
  CHANGELOG.md
  x/marker/client/cli/cli_test.go
  x/marker/client/cli/tx.go
  x/marker/client/rest/tx.go
  x/marker/types/marker_test.go
  x/marker/types/msg.go
  x/marker/wasm/encode.go
Labels: enhancement, marker

#239 Fix the input status mapping for p8e memorialize contract.
  CHANGELOG.md
  x/metadata/keeper/msg_server.go
  x/metadata/types/p8e.go
Labels: bug

#251 Add MsgSetDenomMetadataRequest to the marker handler
  CHANGELOG.md
  x/marker/handler.go
Labels: bug, marker

#252 Add MsgSetDenomMetadataRequest and WithdrawEscrowProposal to the marker codec.
  x/marker/types/codec.go
Labels: bug, marker

#255 Add recovery to init
  CHANGELOG.md
  cmd/provenanced/cmd/init.go
Labels: CLI, bug

#261 relax signing constraint on marker transfer
  CHANGELOG.md
  x/marker/types/msg.go
Labels: bug, marker, security

#247 Add typed events and metrics to the marker module
  CHANGELOG.md
  proto/provenance/marker/v1/marker.proto
  proto/provenance/metadata/v1/tx.proto
  proto/provenance/name/v1/name.proto
  x/marker/client/cli/tx.go
  x/marker/client/rest/tx.go
  x/marker/handler_test.go
  x/marker/keeper/marker.go
  x/marker/keeper/msg_server.go
  x/marker/types/denom_test.go
  x/marker/types/events.go
  x/marker/types/marker.pb.go
  x/marker/types/marker_test.go
  x/marker/types/msg.go
  x/marker/wasm/encode.go
  x/name/handler_test.go
Labels: enhancement, marker

#260 always anchor unresticted denom expressions
  CHANGELOG.md
  x/marker/keeper/denom.go
  x/marker/keeper/denom_test.go
  x/marker/keeper/keeper_test.go
  x/marker/keeper/marker.go
  x/marker/keeper/msg_server.go
  x/marker/keeper/params.go
  x/marker/types/denom.go
  x/marker/types/denom_test.go
  x/marker/types/params.go
  x/marker/types/params_test.go
Labels: bug, marker

#226 Create metadata module spec docs.
  CHANGELOG.md
  scripts/generate-toc.sh
  scripts/update-toc.sh
  x/metadata/spec/01_concepts.md
  x/metadata/spec/02_state.md
  x/metadata/spec/03_messages.md
  x/metadata/spec/04_queries.md
  x/metadata/spec/05_events.md
  x/metadata/spec/06_params.md
  x/metadata/spec/README.md
  x/name/spec/README.md
Labels: documentation, metadata

#257 Fixes for P8EMemorializeContract mapping and record validation
  CHANGELOG.md
  proto/provenance/metadata/v1/p8e/p8e.proto
  proto/provenance/metadata/v1/tx.proto
  x/metadata/client/cli/cli_test.go
  x/metadata/keeper/keeper.go
  x/metadata/keeper/keeper_test.go
  x/metadata/keeper/msg_server.go
  x/metadata/keeper/query_server_test.go
  x/metadata/keeper/record.go
  x/metadata/keeper/record_test.go
  x/metadata/keeper/session_test.go
  x/metadata/types/msg.go
  x/metadata/types/p8e.go
  x/metadata/types/p8e/p8e.pb.go
  x/metadata/types/p8e_test.go
  x/metadata/types/scope.go
  x/metadata/types/scope_test.go
  x/metadata/types/tx.pb.go
Labels: bug, metadata

#277 Fix p8e contract specification uuid.
  CHANGELOG.md
  x/metadata/keeper/record.go
  x/metadata/legacy/v040/migrate.go
  x/metadata/legacy/v040/migrate_test.go
  x/metadata/types/p8e.go
  x/metadata/types/p8e_test.go
Labels: bug, metadata

#278 Add context field to sessions.
  CHANGELOG.md
  proto/provenance/metadata/v1/p8e/p8e.proto
  proto/provenance/metadata/v1/scope.proto
  x/metadata/client/cli/cli_test.go
  x/metadata/client/cli/tx.go
  x/metadata/handler_test.go
  x/metadata/legacy/v040/migrate_test.go
  x/metadata/spec/02_state.md
  x/metadata/types/p8e.go
  x/metadata/types/p8e/p8e.pb.go
  x/metadata/types/p8e_test.go
  x/metadata/types/scope.pb.go
  x/metadata/types/scope_test.go
Labels: bug, metadata

#279 Add typed events and metrics to the Attribute module
  CHANGELOG.md
  Makefile
  proto/provenance/attribute/v1/attribute.proto
  x/attribute/handler_test.go
  x/attribute/keeper/keeper.go
  x/attribute/keeper/msg_server.go
  x/attribute/types/attribute.pb.go
  x/attribute/types/events.go
  x/metadata/types/tx.pb.go
Labels: attribute, enhancement
