Repository provenance-io/provenance, pull requests merged in 2021-06, with the labels that each got.

#322 Add validation on the session's contract spec id with respects to the scope's scope spec.
  CHANGELOG.md
  x/metadata/client/cli/cli_test.go
  x/metadata/handler_test.go
  x/metadata/keeper/msg_server.go
  x/metadata/keeper/session.go
  x/metadata/keeper/session_test.go
Labels: bug, metadata

#353 Add/Remove contract spec from scope spec.
  CHANGELOG.md
  proto/provenance/metadata/v1/tx.proto
  x/metadata/client/cli/cli_test.go
  x/metadata/client/cli/tx.go
  x/metadata/handler.go
  x/metadata/handler_test.go
  x/metadata/keeper/msg_server.go
  x/metadata/types/codec.go
  x/metadata/types/events.go
  x/metadata/types/msg.go
  x/metadata/types/msg_test.go
  x/metadata/types/tx.pb.go
Labels: CLI, metadata

#360 Remove lowercase casting of marker in cli query
  CHANGELOG.md
  x/marker/client/cli/query.go
Labels: CLI, bug, marker
