Repository provenance-io/provenance, pull requests merged in 2021-03, with the labels that each got.

#106 Implement Contract Specification
  CHANGELOG.md
  proto/provenance/marker/v1/accessgrant.proto
  proto/provenance/metadata/v1/contract.proto
  proto/provenance/metadata/v1/genesis.proto
  proto/provenance/metadata/v1/query.proto
  proto/provenance/metadata/v1/scope.proto
  proto/provenance/metadata/v1/specification.proto
  proto/provenance/metadata/v1/tx.proto
  x/metadata/keeper/genesis.go
  x/metadata/keeper/keeper.go
  x/metadata/keeper/msg_server.go
  x/metadata/keeper/query_server.go
  x/metadata/keeper/specification.go
  x/metadata/keeper/specification_test.go
  x/metadata/legacy/v039/types.go
  x/metadata/legacy/v040/migrate.go
  x/metadata/legacy/v040/migrate_test.go
  x/metadata/types/address.go
  x/metadata/types/address_test.go
  x/metadata/types/codec.go
  x/metadata/types/contract.pb.go
  x/metadata/types/events.go
  x/metadata/types/genesis.go
  x/metadata/types/genesis.pb.go
  x/metadata/types/keys.go
  x/metadata/types/msg.go
  x/metadata/types/query.pb.go
  x/metadata/types/query.pb.gw.go
  x/metadata/types/scope.go
  x/metadata/types/scope.pb.go
  x/metadata/types/scope_test.go
  x/metadata/types/specification.go
  x/metadata/types/specification.pb.go
  x/metadata/types/specification_test.go
  x/metadata/types/tx.pb.go
Labels: metadata

#123 Marker denom restrictions
  CHANGELOG.md
  proto/provenance/marker/v1/marker.proto
  proto/provenance/marker/v1/proposals.proto
  x/marker/keeper/msg_server.go
  x/marker/legacy/v040/migrate.go
  x/marker/legacy/v040/migrate_test.go
  x/marker/types/marker.pb.go
  x/marker/types/params.go
  x/marker/types/params_test.go
  x/marker/types/proposal.go
  x/marker/types/proposals.pb.go
  x/marker/types/proposals_test.go
Labels: marker

#152 Update with gaia 4.1.0 fixes
  .github/workflows/cover.yml
  .github/workflows/matrix.yml
  Makefile
  app/app.go
  cmd/provenanced/cmd/root.go
  go.sum
Labels: bug, security

#213 Restrict denom metadata
  CHANGELOG.md
  buf.yaml
  proto/provenance/marker/v1/si.proto
  x/marker/keeper/marker.go
  x/marker/keeper/msg_server.go
  x/marker/types/denom.go
  x/marker/types/denom_test.go
  x/marker/types/msg.go
  x/marker/types/si.go
  x/marker/types/si.pb.go
  x/marker/types/si_test.go
  x/marker/types/status.go
Labels: enhancement, marker
