Repository provenance-io/provenance, pull requests merged in 2021-05, with the labels that each got.

#297 Add purge of destroyed markers to begin block
  CHANGELOG.md
  x/marker/abci.go
  x/marker/abci_test.go
  x/marker/keeper/denom_test.go
  x/marker/types/si_test.go
Labels: enhancement, marker

#228 Marker module spec documentation
  CHANGELOG.md
  README.md
  x/marker/keeper/keeper_test.go
  x/marker/keeper/marker.go
  x/marker/spec/01_state.md
  x/marker/spec/02_state_transitions.md
  x/marker/spec/03_messages.md
  x/marker/spec/04_begin_block.md
  x/marker/spec/05_end_block.md
  x/marker/spec/06_hooks.md
  x/marker/spec/07_events.md
  x/marker/spec/08_telemetry.md
  x/marker/spec/09_params.md
  x/marker/spec/10_governance.md
  x/marker/spec/README.md
Labels: bug, documentation, marker

#323 Fix CLI metaaddress encode and decode
  CHANGELOG.md
  cmd/provenanced/cmd/addresses.go
  cmd/provenanced/cmd/addresses_test.go
  x/metadata/types/address.go
Labels: bug, metadata
