Repository provenance-io/provenance, pull requests merged in 2023-04, with the labels that each got.

#1457 Add upgrade handler to populate lookup table
  app/upgrades.go
  x/attribute/keeper/keeper.go
  x/attribute/keeper/keeper_test.go
Labels: attribute

#1482 add stargate query handler to wasmkeeper
  CHANGELOG.md
  app/app.go
  go.mod
  internal/provwasm/query_plugins.go
  internal/provwasm/stargate_whitelist.go
Labels: enhancement, go, wasm

#1501 Add marker address to event on creation
  CHANGELOG.md
  docs/proto-docs.md
  proto/provenance/marker/v1/marker.proto
  x/marker/handler_test.go
  x/marker/keeper/marker.go
  x/marker/spec/07_events.md
  x/marker/types/events.go
  x/marker/types/marker.pb.go
Labels: marker

#1508 cherry pick marker address event feature for v1.15.x
  CHANGELOG.md
  docs/proto-docs.md
  proto/provenance/marker/v1/marker.proto
  x/marker/handler_test.go
  x/marker/keeper/marker.go
  x/marker/spec/07_events.md
  x/marker/types/events.go
  x/marker/types/marker.pb.go
Labels: marker

#1503 Fix marker ibc-transfer for restricted markers
  CHANGELOG.md
  scripts/install-relayer.sh
  x/marker/keeper/keeper.go
  x/marker/keeper/marker.go
  x/marker/keeper/send_restrictions.go
  x/marker/keeper/send_restrictions_test.go
Labels: bug, marker
