Repository provenance-io/provenance, pull requests merged in 2023-08, with the labels that each got.

#1637 add Trigger module queries to stargate whitelist for smart contracts
  CHANGELOG.md
  internal/provwasm/stargate_whitelist.go
Labels: enhancement, wasm

#1614 GetByAddr and smaller metadata queries.
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/proto-docs.md
  proto/provenance/metadata/v1/query.proto
  x/metadata/client/cli/cli_test.go
  x/metadata/client/cli/query.go
  x/metadata/client/rest/grpc_query_test.go
  x/metadata/keeper/query_server.go
  x/metadata/keeper/query_server_test.go
  x/metadata/spec/05_queries.md
  x/metadata/types/address.go
  x/metadata/types/address_test.go
  x/metadata/types/query.go
  x/metadata/types/query.pb.go
  x/metadata/types/query.pb.gw.go
  x/metadata/types/query_test.go
Labels: metadata

#1627 Migrate msgfees gov props v1
  CHANGELOG.md
  app/app.go
  docs/proto-docs.md
  proto/provenance/metadata/v1/specification.proto
  proto/provenance/msgfees/v1/tx.proto
  x/msgfees/handler.go
  x/msgfees/keeper/keeper.go
  x/msgfees/keeper/msg_server.go
  x/msgfees/keeper/msg_server_test.go
  x/msgfees/keeper/proposal_handler.go
  x/msgfees/keeper/proposal_handler_test.go
  x/msgfees/simulation/proposals_test.go
  x/msgfees/types/codec.go
  x/msgfees/types/msgs.go
  x/msgfees/types/msgs_test.go
  x/msgfees/types/tx.pb.go
Labels: msgfees
