Repository provenance-io/provenance, pull requests merged in 2023-01, with the labels that each got.

#1281 Feature/marker one step
  CHANGELOG.md
  app/params/weights.go
  docs/proto-docs.md
  proto/provenance/marker/v1/accessgrant.proto
  proto/provenance/marker/v1/tx.proto
  x/marker/client/cli/cli_test.go
  x/marker/client/cli/tx.go
  x/marker/handler.go
  x/marker/handler_test.go
  x/marker/keeper/keeper_test.go
  x/marker/keeper/marker.go
  x/marker/keeper/msg_server.go
  x/marker/simulation/operations.go
  x/marker/simulation/operations_test.go
  x/marker/spec/03_messages.md
  x/marker/types/accessgrant.pb.go
  x/marker/types/msg.go
  x/marker/types/msg_test.go
  x/marker/types/tx.pb.go
Labels: marker

#1285 Add bips field to MsgAssessCustomMsgFeeRequest
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
  docs/proto-docs.md
  internal/handlers/msg_service_router_test.go
  proto/provenance/msgfees/v1/tx.proto
  x/msgfees/keeper/keeper.go
  x/msgfees/keeper/keeper_test.go
  x/msgfees/keeper/msg_server.go
  x/msgfees/keeper/query_server_test.go
  x/msgfees/spec/09_messages.md
  x/msgfees/types/events.go
  x/msgfees/types/msgs.go
  x/msgfees/types/msgs_test.go
  x/msgfees/types/tx.pb.go
  x/msgfees/wasm/encode.go
Labels: msgfees

#1291 Add validation for ibc denom markers
  CHANGELOG.md
  cmd/provenanced/cmd/genaccounts.go
  x/marker/keeper/msg_server.go
  x/marker/types/marker.go
  x/marker/types/marker_test.go
Labels: marker, ibc
